<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gra w Życie</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div id="game-container">
        <h1>Gra w Życie</h1>

        <div id="attributes-container">
            <h2>Twoje Atrybuty</h2>
            <div id="attributes"></div>
        </div>

        <div id="story-container">
            <div id="character-image-container" class="character-image"></div>
            <h2 id="stage-name"></h2>
            <p id="question-text"></p>
            <div id="answers-container"></div>
        </div>

        <div id="start-screen">
            <h2>Witaj w Grze w Życie!</h2>
            <p>Podejmuj decyzje, które ukształtują Twoje życie. Każdy wybór ma znaczenie.</p>
            <button id="start-button">Rozpocznij Grę</button>
        </div>

        <div id="end-screen" class="hidden">
            <h2>Koniec Gry!</h2>
            <div id="end-game-image-container"></div>
            <p>Tak wygląda podsumowanie Twojego życia. Czy jesteś z niego zadowolony?</p>
            <div id="final-attributes"></div>
            <button id="restart-button">Zagraj Ponownie</button>
        </div>

    </div>
    <script src="../../static/script.js"></script>
</body>
</html>
