{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O aplikacji - Wirtualne Jutro</title>
     <link rel="stylesheet" href="{% static 'landing_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="right-panel" style="flex: 1.5;">
            <div class="card title-card" style="max-width: 800px;">
                <h1>O aplikacji Wirtualne Jutro</h1>
            </div>
            <div class="card info-card" style="max-width: 800px;">
                <p>Wirtualne jutro to gra symulacyjna, która umożliwia nam spojrzenie w przyszłość bez realnego podejmowania ryzyka związanego z życiowymi decyzjami. Aplikacja pomaga nam zobrazować konsekwencje naszych decyzji oraz jej potencjalne  negatywne lub pozytywne skutki.
Każda nasza decyzja powoduje „Efekt motyla”, który wpływa na nasze przyszłe wybory.
</p>
            </div>
            <div class="menu-buttons" style="max-width: 800px;">
                <a href="/" class="btn btn-menu">Powrót</a>
            </div>
        </div>
    </div>
</body>
</html>