{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybierz Tryb Gry</title>
    <link rel="stylesheet" href="{% static 'challenge_select.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="character-panel">
            {% if request.session.character == 'Kobieta' %}
                <img src="/static/images/girl1.webp" alt="Wybrana postać: Kobieta" class="character-image">
            {% else %}
                <img src="/static/images/boy1.webp" alt="Wybrana postać: Mężczyzna" class="character-image">
            {% endif %}
        </div>
        <div class="selection-panel">
            <div class="title-card">WYBIERZ TRYB</div>
            <form method="post" class="challenge-form">
                {% csrf_token %}
                <button type="submit" name="challenge" value="Swobodny">SWOBODNY - opis</button>
                <button type="submit" name="challenge" value="Wyzwanie">WYZWANIE - opis</button>
                <button type="submit" name="challenge" value="Edukacja">EDUKACJA - opis</button>
            </form>
             {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>